
<%# sidebar %>
<%= render 'admin/shared/sidebar' %>

<%# main %>
<div class="p-4 sm:ml-64">
  <div class="p-4 mt-14">
    <h2 class="text-2xl font-extrabold dark:text-white mb-4">ライター一覧</h2>

    <%# form %>
    <div class="border border-gray-200 rounded-lg p-4 mb-4 shadow-md">
      <form class="w-full">
        <div class="grid md:grid-cols-2 md:gap-6">
          <div class="mb-5">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">氏名</label>
            <input type="text" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#FF4500] focus:border-[#FF4500] block w-full p-2.5" />
          </div>
          <div class="mb-5">
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">メールアドレス</label>
            <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#FF4500] focus:border-[#FF4500] block w-full p-2.5" />
          </div>
        </div>
        <div class="text-right m-2">
          <button type="submit" class="text-white bg-[#FF4500] hover:bg-[#E03E00] focus:ring-4 focus:outline-none focus:ring-[#FF4500] font-medium rounded-lg text-sm w-40 px-5 py-2.5 text-center">検索する</button>
        </div>
      </form>
    </div>

    <%# list %>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        氏名
                    </th>
                    <th scope="col" class="px-6 py-3">
                        メールアドレス
                    </th>
                    <th scope="col" class="px-6 py-3">
                        <span class="sr-only">詳細</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        Apple MacBook Pro 17"
                    </th>
                    <td class="px-6 py-4">
                        Silver
                    </td>
                    <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-[#FF4500] dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Microsoft Surface Pro
                    </th>
                    <td class="px-6 py-4">
                        White
                    </td>
                    <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-[#FF4500] dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
                <tr class="bg-white dark:bg-gray-800 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        Magic Mouse 2
                    </th>
                    <td class="px-6 py-4">
                        Black
                    </td>
                    <td class="px-6 py-4 text-right">
                        <a href="#" class="font-medium text-[#FF4500] dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>


  </div>
</div>
